# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]
# Change these settings to your own preference
indent_style = space
indent_size = 2
continuation_indent_size = 4

# We recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.java]
ij_java_generate_final_parameters = true
ij_java_generate_final_locals = false

[*.md]
trim_trailing_whitespace = false

[*.properties]
ij_properties_align_group_field_declarations = true
ij_properties_keep_blank_lines = true
ij_properties_spaces_around_key_value_delimiter = true
